/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.11.2020, 11:22:37
    Author     : dominik.martin
*/

.mymodal-header{
        padding: 15px;
}
.mymodal-header .mymodal-gateway-image{
    width: 150px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 10px;
}
.mymodel-image{
    
}

.header-informations{
    position: absolute;
    bottom: 40px;
    left:15px;
    right:15px;
}
.basemodel, .version{
    font-style: italic;
    font-size:10pt;
    margin-left: 5px;
}

.mymodal-header .mymodal-title{
    font-size: 20pt;
    line-height: normal;
    font-weight: bold;
}
.mymodal-header .close{
    margin-top:0px;
    font-size: 30pt;
}
.mymodal .row {
    /*margin: 0;*/
}
.details-configurations{
    font-size: 13pt;
}
.details-configurations .configuration{
    font-weight: bold;
}
.details-configurations .value{
    margin-left:5px;
    font-weight: bold;
}
.details-configurations .value.checked{
    color: #00a65a;
}
.details-configurations .value.notChecked{
    color: #dd4b39;
}
.mymodal-connected{
    margin-bottom: 15px;
}
.mymodal-connected-circle{
  height: 10px;
  width: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.mymodal-connected-circle.online{
    background-color: #00a65a;
}
.mymodal-connected-circle.offline{
    background-color: #dd4b39;
}
.mymodal-connected.online{
    color: #00a65a;
}
.mymodal-connected.offline{
    color: #dd4b39;
}
.modal-body {
    float:end;
}


.status-infos{
    
}
.status-infos .info-point{
    margin-bottom: 30px;
}
.info-point-title{
    font-weight: bold;
    font-size: 12pt;
}
.info-point-value{
    font-size: 12pt;
}
.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}



.item {
    position: relative;
    float: left;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 115pt;
    width: 100%;
    font-size: 12pt;
}

svg {
    transform: rotate(-90deg);
    color: blue;
}

.circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.html .circle_animation {
    -webkit-animation: html 1s ease-out forwards;
    animation: html 1s ease-out forwards;
}

.css .circle_animation {
    -webkit-animation: css 1s ease-out forwards;
    animation: css 1s ease-out forwards;
}

@-webkit-keyframes html {
  to {
    stroke-dashoffset: 80;
  }
}


/* accordion */
.accordion-title-number{
    float: right;
    /*background-color: #ffffaa;*/
    /*border-radius: 25px;*/
    margin-right: 15px;
    /*padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;*/
    /*padding-top: 5px;
    margin-top: -5px;*/
    /*border: 1px solid black;*/
    color: darkred;
    font-weight: 600;
    
}
.accordion-title-number-txt{
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 1.2em;
}



.accordion-title-number-button-container{
        width: 1.2em;
        height: 1.2em;
        margin-right: 5px;
        position: absolute;
        display:inline-block;
        width: max-content;
        right: 3em;
}
.accordion-title-number-button{
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
}
.accordion-title-number-button:hover{
    background: rgb(138,140,140);
    background: radial-gradient(circle, rgba(138,140,140,0.7707457983193278) 50%, rgba(144,143,143,0) 100%);
}
.icon-refresh{
    background-image: url("../img/icons/refresh_icon.svg");
    background-size: 1.2em 1.2em;
    width: 1.2em;
    height: 1.2em;
    
}
.icon-refresh:hover{
    background-image: url("../img/icons/refresh_icon.svg");
    background-size: 1.2em 1.2em;
    width: 1.2em;
    height: 1.2em;
}
.icon-stop{
    background-image: url("../img/icons/stop_icon.svg");
    background-size: 1.2em 1.2em;
    width: 1.2em;
        height: 1.2em;
}
.icon-play{
    background-image: url("../img/icons/play_icon.svg");
    background-size: 1.2em 1.2em;
    width: 1.2em;
        height: 1.2em;
}

.rotate-center {
	animation: rotate-center 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-in-center {
	animation: rotate-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        display: inline-block;
}
@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}


.rotate-out-center {
	animation: rotate-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes rotate-out-center {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0;
  }
}

/* test area*/
.details-configurations .alerts .value{
    /*font-size:50pt;*/
}
.configuration.alerts{
    /*background-color: yellow;*/
}

.info-point#latency .info-point-value{
    /*color: red;*/
}