/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2020, 10:13:18
    Author     : dominik.martin
*/

.mypagination{
    margin-bottom: 10px;
}
.mypagination:after{
    clear: both;
    height: 0;
    
}
.mypagination-result-length{
    float: left;
    margin-bottom: 10px;
    padding-top: 0.2em;
}

.mypagination-numbers{
    float: right;
    margin-bottom: 10px;
}
.mypagination-button{
    box-sizing: border-box;
    display: inline-block;
    min-width: 3.2em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.mypagination-button:hover{
    color: white !important;
    border: 1px solid #111;
    background: linear-gradient(to bottom, #333 0%, #454d55 100%);
    
}
.mypagination-active{
    color: #333 !important;
    border: 1px solid #979797;
    background: linear-gradient(to bottom, #fff 0%, #dee2e6 100%);
}
.pagination-active:hover{
    color: #333 !important;
    border: 1px solid #979797;
    background: linear-gradient(to bottom, #fff 0%, #dee2e6 100%);
}
.mypagination-prev{
    
}
.mypagination-next{
    margin-right: 10px;
}
.mypagination-goto{
    float:right;
    margin-top:4px;
}
.mypagination-goto-title{
    
}
.mypagination-select{
    margin-left: 5px;
    min-width: 1.5em;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: transparent;
    padding: 4px;
}
.mypagination-disabled{
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.mypagination-disabled:hover{
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.mypagination-hide{
    display: none;
}

.mypagination-error{
    text-align: center;
    color: red;
    font-weight: bold;
}

.mypagination-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.mypagination-column-title{
    white-space: nowrap!important;
    width: auto!important;
}

.mypagination-content td{
    vertical-align:middle;
}
.mypaginaiton-alertIcon{
    width: 46px;
}

.mypagination .sev{
    text-align: center;
}
.mypagination .sev[sev-num="6"]{
    background: #fff;
    background: radial-gradient(circle, rgba(0,166,90, 0.5) 60%, rgba(255,255,255,0) 75%);
}
.mypagination .sev[sev-num="5"]{
    background: #fff;
    background: radial-gradient(circle, rgba(0,192,239, 0.5) 60%, rgba(255,255,255,0) 75%);
}
.mypagination .sev[sev-num="4"]{
    background: #fff;
    background: radial-gradient(circle, rgba(243, 156, 18, 0.5) 60%, rgba(255,255,255,0) 75%);
}
.mypagination .sev[sev-num="3"]{
    background: #fff;
    background: radial-gradient(circle, rgba(96,92,168, 0.5) 60%, rgba(255,255,255,0) 75%);
}
.mypagination .sev[sev-num="2"]{
    background: #fff;
    background: radial-gradient(circle, rgba(221,75,57, 0.5) 60%, rgba(255,255,255,0) 75%);
}
.mypagination .sev[sev-num="1"]{
    background: #fff;
    background: radial-gradient(circle, rgba(166,12,104, 0.5) 60%, rgba(255,255,255,0) 75%);
}

