.status{

}
.green{ color: #00a65a; }
.red{ color: #dd4b39; }
.fakeLink{ color: #1a0dab; text-decoration: underline; cursor: pointer; }


.gatewaysImg{
    width: 100px;
    height: auto;
}

.ol-attribution{
    display: none !important;
}
.map-container{
    padding: 10px;
    height: 75%;
    border: 3px solid black;
    margin-top: 5px;
    min-height: 300px;
}
.map{
    height: 100%;
    width:100%;
}
*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}


.content-container{
    width: 75% !important;
    margin: 0 auto;
    padding-bottom: 25px;
}

.event{
    text-align: center;
}
.sev6{
    background-color: #00a65a;}
.sev4{
    background-color: #f39c12;
}
.sev3{
    background-color: #605ca8;
}

.mywebsocket table{
    /*table-layout: auto;*/
    margin-bottom: 0px;
}
.mywebsocket table th{
    text-align: center;
}
.mywebsocket table th:last-child{
    table-layout: auto !important;
}
.mywebsocket table tr td:last-child{
    text-overflow: ellipsis;
    overflow: hidden;
    color: green;
    flex:1;
    /*table-layout: auto !important;*/
}

.mywebsocket table td{
    white-space: nowrap;
    color: red;
    text-align: center;
}
.mywebsocket table td:hover{
    overflow: visible;
}
.mywebsocket{
    padding-left: 2px !important;
    padding-right: 2px !important;
    overflow: hidden !important;
}
.mywebsocket-td-info{
    float:right;
}
.mywebsocket-old-datas{
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
}
.mywebsocket-old-datas th {
    border-top: none;
}
.mywebsocket-hide{
    display: none;
}
.mywebsocket-alerts{
    
}
.toggleOldData{
    width: 100%;
    text-align: center;
    margin-top:30px;
    color: red;
    padding: 10px;
    font-size: 1.1em;
    border-bottom: none;
    background-color: #333;
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}
.mywebsocket-status{
    font-size: 0.9em;
    width: 100%;
    padding: 0.2em;
    border: 1px solid #343a40;
    margin-top: 3px;
    min-height: 0.9em;
}
.mywebsocket-nodata{
    text-align: center;
}

