/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.12.2020, 12:30:30
    Author     : dominik.martin
*/

.myTeamplte-header{
    border: 1px solid black;
    width: 100%;
    background-color: #c3c3c3;
    text-align: center;
    min-height: 100px;
    font-size: 2em;
    vertical-align: middle;
    display: table-cell;
}
.myTeamplte-header-title{
    display: inline-block;
}